#block-tweaks-event-date-block {
  .date-circles {
    width: 200px;
    margin: 0 auto;
    position: relative;
    .circles-middle {
      display: block;
      position: absolute;
      width: 195px;
      color: $white;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      margin: 50px auto;
    }
    .circles {
      height: 110px;
      width: 110px;
      border-radius: 50%;
      float: left;
      text-align: center;
      padding-top: 20px;
      //font-weight: bold;
      margin-top: 5px;
      font-family: 'raleway';
      color: rgba(23, 42, 58, 0.64);
      span {
        display: block;
        &.d {
          font-size: 35px;
          font-weight: bold;
          color: $white;
          line-height: 32px;
          font-family: 'open sans';
        }
        &.m {
          text-transform: uppercase;
          font-size: 16px;
          //color: $purple;
        }
        &.y {
          text-transform: uppercase;
          font-size: 14px;
        }
      }
      &.date-from {
        background: rgba(128, 131, 215, 0.3);
        &.centred {
          float: none;
          margin: auto;
          margin-top: 5px;
        }
      }
      &.date-to {
        margin-left: -25px;
        background: rgba(128, 131, 215, 0.3);
      }
    }
  }

  .separator {
    margin: 10px 0;
    p {
      border: none;
      margin: 0;
      text-align: center;
    }
  }
}

#block-tweaks-event-organiser-block {
  @include blocks-blue();
  margin-top: 50px;

  .organiser-logo {
    width: 80px;
    margin: -40px auto 0 auto;
    padding: 0 5px 5px 0;
    img {
      //border-radius: 4px;
      border: 2px solid $white;
    }
  }
  .organiser-info {
    //margin-left: 75px;
    padding: 5px;
    border-bottom: 1px solid $white;
    h3 {
      margin: 0;
      font-size: 14px;
    }
  }
  .organiser-list {
    clear: both;
    ul {
      li {
        border-top: 1px solid $white;
        &:first-of-type {
          border: none;
        }
        a {
          padding: 5px 0;
          display: block;
          text-decoration: none;
          transition: 0.2s ease all;
          color: $dark;
          position: relative;
          &:hover {
            padding-left: 5px;
            //&:after {
            //  content: '';
            //  position: absolute;
            //  left: 0;
            //  bottom: 0;
            //  height: 100%;
            //  width: 2px;
            //  background-color: #6F73D2;
            //}
          }
        }
      }
    }
  }

  p {
    margin: 0;
    padding: 0;
    border: none;
  }
}
