ul.facet-searcher {
  li {
    list-style: none;
    font-weight: 300;
    margin: 4px 0;
    font-size: 14px;
    a {
      font-weight: 300;
      font-size: 14px;
      position: relative;
      padding-left: 22px;
      color: #777;
      display: inline-block;
      width: 100%;
      &:before {
        content: "";
        position: absolute;
        top: 4px;
        left: 0px;
        width: 13px;
        height: 13px;
        opacity: 0.3;
        border: 1px solid #777;
        transition: 0.3s all ease;
      }
      &:hover {
        text-decoration: none;
        &:before {
          opacity: 1;
        }
      }

      &.selected {
        color: $purple;
        &:after {
          font-family: fontawesome;
          content: "\f00c";
          position: absolute;
          top: 4px;
          left: 2px;
          font-size: 10px;
          opacity: 1;
          color: $purple;
        }
      }
    }
  }
}

