// Theme Customizations to Navigations //
#admin-menu {
  z-index: 99999;
}

html body.admin-menu {
  // margin-top: 11px !important;
}

#navbar-top-top {
  padding: 10px 0;
  background-color: $hb-light-grey;

  a {
    color: $hb-dark;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
    font-size: 13px;
  }
  ul {
    padding: 0;
    margin: 0;
    &.info-nav {
      li {
        // border-right: 1px solid $eq-dark;
        a {
          padding: 4px 7px;
        }
      }
    }

    li {
      // float: left;
      // padding: 14px 2px;
      display: inline-block;

      a {
        &.social-icon {
          width: 27px;
          padding: 3px 6px;
          display: inline-block;
          border: 1px solid $hb-dark;
          border-radius: 50%;
          transition: 0.2s ease all;
          margin: 0 1px;
          &:hover {
            background-color: $hb-dark;
            color: #fff;
          }
        }
      }
    }
  }
}

#navbar {
  padding: 0;
  font-weight: 300;
  z-index: 999;
  border-radius: 0;
  border: none;
  @include bottom-shadow();
  .logo {
    margin: 25px 0 20px 0;
    img {
      width: 160px;
    }
  }
  .container-fluid {
    padding: 0;
  }

  a.navbar-brand {
    font-weight: 300;
    padding-left: 20px;
    display: none;
  }
}

.navbar-default {
  .navbar-nav {
    > li > a {
      align-items: center;
      color: $purple;
      font-size: 16px;
      transition: all 0.2s ease;
      @include antialiased();
      &:hover,
      &:active,
      &:focus {
        background-color: $light-purple;
        color: $purple;
      }
    }
  }
}


.navbar-default {
  .navbar-toggle {
    border-radius: 0;
    border-color: $purple;
    .icon-bar {
      background-color: $purple;
    }
    &:hover,
    &:focus {
      background-color: $light-purple;
    }
  }

  .navbar-collapse {
    padding: 0;
    border-top: none;
  }
}

.nav-search {
  i, span {
    vertical-align: middle;
  }
}

.a-dd {
  a {
    span,
    .my-image,
    i {
      vertical-align: middle;
      display: inline-block;
    }
    .my-image {
      width: 30px;
      margin: 0 5px;
    }
  }
}


@media (max-width: $screen-sm-min) {
  .navbar-default .navbar-nav {
    float: none !important;
    margin: 0;
    padding-bottom: 15px;
    li {
      a {
        background: $light-purple;
        border-bottom: 1px solid $white;
        padding: 10px;
        transition: 0.2s ease all;
        &:hover,
        &:focus,
        &:active {
          background: $light-purple;
          color: darken($purple, 20%);
          padding-left: 15px;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  span.nav-btn {
    background-color: $purple;
    color: $white;
    padding: 8px 10px;
    border-radius: 20px;
  }
  .navbar-default .navbar-nav {
    li {
      a {
        padding: 30px 15px;
        line-height: 40px;
      }
      &.res {
        a {
          padding: 5px 15px;
          line-height: normal;
        }
      }
    }
  }
  .a-dd {
    a {
      .my-image {
        width: 40px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .navbar-default .navbar-nav {
    li {
      a {
        padding: 30px 25px;
      }
    }
  }
}

