li.res {
  font-size: 14px!important;
  font-weight: 300;
}

.navbar-nav {
  .first {
    .dropdown-menu-yogafind {
      min-width: 300px;
      form {
        padding: 5px 10px;
        .form-control {
          font-size: 14px;
        }
        input {
          border: none;
          border-bottom: 1px solid $purple;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $purple;
          opacity: 0.3;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $purple;
          opacity: 0.3;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $purple;
          opacity: 0.3;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $purple;
          opacity: 0.3;
        }
        .form-group {
          margin: 0;
        }
      }
    }
  }
}

#block-models-searcher-main-searcher {
  .dropdown-menu-yogafind {
    width: 100%;
    min-width: 300px;
    border-radius: 0;
    border: none;
    .res {
      font-size: 12px;
    }
  }
}

.navbar-nav > li > .dropdown-menu {
  font-weight: 300;
  a {
    font-weight: 300;
  }
}

li.res {
  &.goog,
  &.no-res {
    padding: 1px 10px;
    text-align: right;
    color: $dark;
    img {
      width: 100px;
      height: auto;
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $purple;
  background: $light-purple;
}

@media (max-width: $screen-sm-min) {

  .navbar-nav .first .dropdown-menu-yogafind form {
    padding: 5px 0;
    .form-control {
      padding: 0 5px;
    }
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background: none;
    padding: 0 5px;
    color: $purple;
  }
  .dropdown-menu .divider {
    margin: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .dropdown-menu-yogafind {
    border: 1px solid $light-grey;
    .dropdown-header {
      color: darken($purple, 10%);
      padding: 3px 15px;
    }
    .divider {
      margin: 2px 0;
    }
    .res {
      font-size: 16px;
      a {
        &:hover {
          background-color: $light-purple;
        }
      }

      &.no-res {
        text-align: center;
      }
    }
  }
}
