@media (min-width: $screen-xs-min) {
  #block-models-searcher-search-results-topper {
    background-color: $white;
    padding: 15px;
    border: 1px solid $light-grey-border;
    border-bottom: none;
    p {
      margin-bottom: 0;
    }
    h2 {
      border: none;
      font-size: 22px;
    }
  }
}