//#block-models-searcher-main-searcher {
.dropdown-menu-yogafind {
  //min-width: 300px;
  border: 1px solid $light-grey;
  .dropdown-header {
    color: #172a3a;
    font-weight: 300;
    font-family: $raleway;
    font-size: 18px;
  }
  .divider {
    margin: 2px 0;
  }
  .res {
    //padding: 1px 20px;
    font-size: 16px;
    a {
      //color: $purple;
      &:hover {
        background-color: $light-purple;
      }
    }
    &.goog,
    &.no-res {
      padding: 1px 10px;
      text-align: right;
      color: $dark;
      img {
        width: 100px;
        height: auto;
      }
    }
    &.no-res {
      text-align: center;
    }
  }
}

li.res {
  font-size: 14px!important;
  font-weight: 300;
}

//}
.navbar-nav {
  .first {
    .dropdown-menu-yogafind {
      //width: 100%;
      min-width: 300px;
      form {
        padding: 5px 10px;
        .form-control {
          font-size: 14px;
        }
        input {
          //border-radius: 20px;
          border: none;
          //background-color: $light-purple;
          border-bottom: 1px solid $purple;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $purple;
          opacity: 0.3;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $purple;
          opacity: 0.3;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $purple;
          opacity: 0.3;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $purple;
          opacity: 0.3;
        }
        .form-group {
          margin: 0;
        }
      }
    }
  }
}

#block-models-searcher-main-searcher {
  .dropdown-menu-yogafind {
    width: 100%;
    min-width: 300px;
    border-radius: 0;
    border: none;
    .res {
      //padding: 1px 20px;
      font-size: 12px;
    }
  }
}

.navbar-nav > li > .dropdown-menu {
  font-weight: 300;
  a {
    font-weight: 300;
  }
}

