# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
local.settings.php
*.sql.*
counties*.csv

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
aus_geocode_list.sql
dev.php
.htaccess
