.front {
  .page-node-165 {
    background-color: $light-grey;
  }
  .footer {
    margin-top: 0;
  }
}

.event-desc {
  font-size: 14px;
}

#block-views-yoga-event-lists-block-2,
#block-views-yoga-searcher-block-2 {

  .view-yoga-event-lists, .view-yoga-searcher, .view-my-listing-s- {
    box-shadow: none;
    background: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 14px;
    border: none;
  }

  .event-teaser {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background: white;
    border-bottom: none;
  }

  .event-logo {
    width: 110px;
    //margin-bottom: 15px;
  }
}

#block-views-yoga-searcher-block-2 {
  .event-teaser {
    transition: 0.2s ease all;
    &:hover {
      padding-left: 15px;
    }
  }
  .event-desc {
    display: none;
  }
  .event-logo {
    width: 50px;
  }
  .event-info {
    margin-left: 60px;
  }
  .a-link {
    font-size: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    i {
      display: none;
    }
  }
}


#models-searcher-form {
  input {
    color: $white;
  }
  .form-item {
    position: relative;
    .typeahead {
      width: 100%;
      border-radius: 0;
      border: none;
      li {
        &.active {
          a {
            background-color: $hb-pink;
          }
        }
        a {
          font-weight: 400;
          font-size: 18px;
        }
      }
    }
  }
}

#main {
  // height: 100%;

  .hd-pink {
    color: $hb-pink;
    font-size: 30px;
    font-weight: 500;
  }

  .hd-purple {
    color: $purple;
    font-size: 25px;
    font-weight: 500;
  }

  #hero {
    background-color: $hb-dark;
    background: url("../images/yoga.jpg") center 0 no-repeat;
    background-size: cover;
    height: 450px;
    .hero-content {
      padding-top: 40px;
      .hero {
        text-align: center;
        h1,
        h2,
        h3,
        p {
          color: #f8f8f8;
          border-bottom: none;
          font-weight: 300;
          text-shadow: 2px 1px 1px $hb-dark;
          a {
            color: $white;
            font-weight: bold;
          }
        }

        h1 {
          font-size: 50px;
          margin-bottom: 15px;
          background-color: rgba(0, 0, 0, 0.2);
        }

        h2 {
          font-size: 38px;
          //letter-spacing: 0.5px;
          //line-height: 25px;
          a {
            i {
              font-size: 30px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }

        p {
          letter-spacing: 0.5px;
        }
      }
      .left {
        width: 615px;
        margin: 0 auto;
      }
    }
  }

  #yf-infos {
    background: $white;
    .yf-divide {
      border-right: 1px solid rgba(16, 0, 0, 0.05);
      &:last-of-type {
        border: none;
      }
      .yf-info-stuffs {
        padding: 15px 0;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 1px solid #e2c4fe;
          margin: 0 auto;
          background: white;
        }
        p, a {
          font-size: 14px;
        }
      }
    }
  }

  #yf-sign-up {
    background: $green;
    text-align: center;
    //width: 100%;
    color: $white;
    padding: 13px 0;
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  #yf-sponsors {
    background: $white;
    padding: 15px 0;
  }

  #yf-subscribe {
    background-color: $white;
    h3 {
      margin: 0;
    }
    .webform-component--e-mail {
      margin: 0;
    }
  }

  #what-is-it {
    text-align: center;
    .what-block {
      // @include blocks();
      margin: 15px 0;
      // height: 370px;
    }
    h2 {
      font-size: 20px;
      margin-top: 0;
      // padding-top: 15px;
    }
    p {
      font-size: 14px;
      text-align: left;
    }
    .info-surround {
      background-color: white;
      border-bottom-color: #ccd1d4;
      margin-bottom: 20px;
      padding: 15px;
      margin: 15px 0;
      margin-top: 0;
    }
    .info-img {
      margin-top: 15px;
    }
  }

  #look-and-feel {
    margin: 30px 0 0;
    .lhs {
      padding: 30px;
    }
    .lhs,
    .rhs {
      width: 50%;
    }
    .rhs {
      background-color: $hb-blue;
      .mobile {
        background: url('../images/Apple-iPhone-5s-Silver.png') 0 0 no-repeat;
        width: 320px;
        background-size: contain;
        height: 680px;
        margin: 30px auto;
        padding: 95px 23px;
      }
    }
  }
}

#block-webform-client-block-166,
#block-models-searcher-main-searcher {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  .form-group {
    margin-bottom: 0;
  }
  .dropdown-menu {
    min-width: 300px;
    .res {
      //padding: 1px 20px;
      font-size: 12px;
      a {
        //color: $purple;
      }
      &.goog,
      &.no-res {
        padding: 1px 10px;
        text-align: right;
        color: $dark;
        img {
          width: 100px;
          height: auto;
        }
      }
      &.no-res {
        text-align: center;
      }
    }
  }
  .email,
  #search-lookup {
    border: none;
    border-bottom: 2px solid $light-grey;
    padding: 12px;
    font-size: 18px;
    outline: none !important;
    background: rgba(22, 39, 54, 0.36);
    font-weight: 300;
    height: 52px;
    &:focus {
      outline: none !important;
    }
  }
  button.btn {
    // background: none;
    border: none;
    // border-bottom: 2px solid $light-grey;
    text-transform: uppercase;
    padding: 16px;
    transition: 0.3s all ease;
    background: rgba(22, 39, 54, 0.36);
    position: relative;
    height: 52px;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $light-grey;
    }

    &:hover {
      background: darken($hb-dark, 3%);
    }
  }
}

/**
 * RESPONSIVE stuffs
 */
@media (min-width: $screen-lg-desktop) {
  body {
    // color: red!important;
  }
}

// Screen Desktop and UP UP UP!
@media (min-width: $screen-tablet) {
  .search-surround {
    float: left;
  }

  .my-nav {
    .container {
      .last {
        display: none;
      }
    }
  }

  .front {
    #navbar {
      .navbar-nav {
        a {
          //.nav-btn {
          //  padding: 5px 10px;
          //  border-radius: 2px;
          //  border: 2px solid $light-grey;
          //  &:hover {
          //    background: darken($hb-dark, 3%);
          //  }
          //}
          &:hover {
            //background: none;
          }
          &:focus {
            color: $hb-blue;
          }
        }
      }
    }
  }
}

// Screen Desktop and BELOW!!
@media (max-width: $screen-desktop) {
  body {
    // color: blue!important;
  }

  #navbar {
    .search-surround #models-forms-search-form #edit-search {
      width: 200px !important;
    }
  }

  .my-nav {
    .container {
      padding: 0;
      .last {
        display: inline;
      }
      .nav-2 {
        display: none;
      }
      nav {
        // width: 1000px;
      }
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }

}

@media (max-width: $screen-tablet) {
  body {
    // color: yellow!important;
  }

  #look-and-feel {
    .lhs,
    .rhs {
      width: 100% !important;
    }
    .rhs {
      .mobile {
        width: 250px !important;
        height: 520px !important;
        padding: 74px 18px !important;
      }
    }
  }

  #navbar {
    .container,
    .container-fluid {
      > .navbar-header,
      > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }

      .search-surround {
        @include clearfix;
        background-color: rgba(0, 0, 0, 0.64);
        &:hover,
        &:focus,
        &.search-surround-focus {
          background-color: rgba(0, 0, 0, 0.85);
        }

        .hbm-search-icon, #models-forms-search-form #edit-search {
          color: $light-grey;
        }
      }
    }
  }

  #main {
    #hero {
      .hero-content {
        .left {
          width: 460px;
        }
        .hero {
          h1 {
            font-size: 45px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-phone) {
  #navbar-top-top {
    display: none;
  }
  .nav-animate {
    padding-top: 54px;
  }

  #main {
    #hero {
      .hero-content {
        padding-top: 30px;
        .left {
          width: 300px;
        }
        .hero {
          h1 {
            font-size: 35px;
          }
        }
      }
    }
  }

  #block-webform-client-block-132,
  #block-models-searcher-main-searcher,
  #block-webform-client-block-166 {
    width: auto;
    .webform-component-email {
      width: 52%;
    }
  }
}

@media (min-width: $screen-md-min) {
  #block-webform-client-block-166,
  #block-models-searcher-main-searcher {
    position: relative;
    width: 700px;
  }
}