.node-article {
  @include blocks();
  .field-name-field-post-image {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
}

.node-article-form {
  #edit-body-und-0-format {
    display: none;
  }
}