.view-yoga-event-lists,
.view-yoga-searcher,
.view-my-listing-s- {
  font-size: 14px;
  .views-row {
    .event-teaser {
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      background: white;
      border-bottom: none;

      .event-logo {
        float: left;
        width: 100px;
        img {
          border-radius: 4px;
        }
      }
      .event-type {
        font-size: 13px;
      }
      .event-price {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: $light-purple;
        padding: 2px;
        font-weight: 600;
        &.inline-this {
          display: inline;
        }
      }
      .event-dates {
        float: right;
        width: 100px;
        i {
          font-size: 14px;
          padding-right: 5px;
          vertical-align: middle;
        }
        p {
          span.date-to {
            font-size: 12px;
            color: $purple;
            font-weight: 600;
          }
        }
      }
      .event-info {
        margin-left: 120px;
        margin-right: 120px;
        h3 {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          a {
            color: $purple;
            text-decoration: none;
          }
        }
        p {
          &.event-intro {
            font-size: 12px;
            color: #777;
          }
        }
      }
    }

    &.views-row-last {
      .event-teaser {
        border: none;
      }
    }
  }
}

.view-yoga-searcher {
  .views-row {
    .event-teaser {
      .event-info {
        margin-right: 0;
        .event-intro {
          margin: 0;
        }
      }
    }
  }
}

.teaser-styles,
.teaser-yoga-info {
  li {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    margin: 1px;
    span {
      background-color: darken($purple, 1%);
      color: #fff;
      border-radius: 4px;
    }
    span, a {
      padding: 3px 7px;
      display: block;
      text-decoration: none;
      transition: 0.2s ease all;
      i {
        vertical-align: middle;
        font-size: 14px;
      }
    }
    &:last-of-type {
      a {
        border-right: none;
      }
    }
  }
}

.teaser-yoga-info {
  a {
    background: $light-purple;
    border-radius: 4px;
  }
}

.view-yoga-searcher {
  .event-teaser {
    position: relative;
    .a-link {
      position: absolute;
      bottom: 15px;
      right: 10px;
      font-weight: 300;
      font-size: 12px;
    }
  }
}

@media (max-width: $screen-xs-min) {

  .view-yoga-event-lists .views-row .event-teaser .event-dates,
  .view-yoga-searcher .views-row .event-teaser .event-dates,
  .view-my-listing-s- .views-row .event-teaser .event-dates {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .view-yoga-event-lists .views-row .event-teaser .event-info,
  .view-yoga-searcher .views-row .event-teaser .event-info,
  .view-my-listing-s- .views-row .event-teaser .event-info {
    margin-left: 5px;
    margin-right: 5px;
  }

  .view-yoga-event-lists .views-row .event-teaser .event-logo img,
  .view-yoga-searcher .views-row .event-teaser .event-logo img,
  .view-my-listing-s- .views-row .event-teaser .event-logo img {
    padding: 0 15px 5px 0;
  }

}